* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

#main {
  /* border-width: 1%;
  border-color: black;
  border-style: solid; */
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}

#new-list-button {
  margin-top: 1vw;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding: 1vw;
} 

ul, li {
  /* background-color: red; */
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
}